---
layout: default
title: Home
---
<div class="home">
	<h1>B787 ECL Emulator</h1>

	<h2>Installation:</h2>
	<p><u>iOS:</u> In Safari, tap on the share icon, then Add to Home Screen.</p>
	<p><u>Android:</u> In Chrome, tap the three dot icon on the top, then Add to Home Screen.</p>
	<p>Launch the app at least once before going offline. It should then work even when offline.</p>

	<h2>The Goal:</h2>
	<p>For now, it's just a glorified table of contents. The actual checklists are not yet implemented. Use it to simply train your muscle memory to <em>find</em> checklists quickly and efficiently.</p>

	<h2>Disclaimer</h2>
	<p>This is not an official document. It's not meant to be used for operation nor for training. </p>
</div>

<!--
{% for index in site.data.nnc-index %}
	{% assign short-name = index.short-name %}
    {% for item in site.data.index.[short-name] %}
	    <li>"{{item.link}}",</li>
	{% endfor %}
{% endfor %}
-->




