{% assign current = page.url | downcase | split: '/' %}

<ul class="navigation-menu">
	<li class="navigation-menu-item button-wrap">
		<a class="button {% if current[1] == 'nc' %}active{% endif %}" href="/nc/index.html">NORMAL MENU</a>
	</li>
	<li class="navigation-menu-item button-wrap">
		<a class="button {% if page.url == '/' %}active{% endif %}" href="/">RESETS</a>
	</li>
	<li class="navigation-menu-item button-wrap">
		<a class="button {% if current[1] == 'nnc' %}active{% endif %}" href="/nnc/index.html">NON-NORMAL MENU</a>
	</li>
</ul>
