<ul class="navigation-menu">
	<li class="navigation-menu-item button-wrap">
		<a class="button {% if page.url == '/nnc/index.html' %}active{% endif %}" href="/normal-menu.html">NORMAL MENU</a>
	</li>
	<li class="navigation-menu-item button-wrap">
		<a class="button {% if page.url == '/resets.html' %}active{% endif %}" href="/resets.html">RESETS</a>
	</li>
	<li class="navigation-menu-item button-wrap">
		<a class="button {% if page.url == '/nnc/index.html' %}active{% endif %}" href="/nnc/index.html">NON-NORMAL MENU</a>
	</li>
</ul>