---
---
@charset "utf-8"

// ==============================
// Variables
// ==============================

$global-background-color: #212121
$test-color: yellow 


a, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, button 
    margin: 0
    padding: 0

html 
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    
    -ms-touch-action: manipulation
    touch-action: manipulation
    overflow-y: scroll

*, *:before, *:after 
    box-sizing: inherit

a 
    text-decoration: none
    color: white

ul 
    list-style-type: none

body 
    background-color: $global-background-color
    -webkit-tap-highlight-color: transparent
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-touch-callout: none

    //background-image: url("/assets/images/content/not-for-official-use.png")

body::-webkit-scrollbar 
    display: none

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 400
  src: url('/assets/fonts/roboto-mono-v22-latin-regular.eot')
  src: local(""), url('/assets/fonts/roboto-mono-v22-latin-regular.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/roboto-mono-v22-latin-regular.woff2') format("woff2"), url('/assets/fonts/roboto-mono-v22-latin-regular.woff') format("woff"), url('/assets/fonts/roboto-mono-v22-latin-regular.ttf') format("truetype"), url('/assets/fonts/roboto-mono-v22-latin-regular.svg#RobotoMono') format("svg")

@font-face
  font-family: 'Roboto Mono'
  font-style: normal
  font-weight: 600
  src: url('/assets/fonts/roboto-mono-v22-latin-600.eot')
  src: local(""), url('/assets/fonts/roboto-mono-v22-latin-600.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/roboto-mono-v22-latin-600.woff2') format("woff2"), url('/assets/fonts/roboto-mono-v22-latin-600.woff') format("woff"), url('/assets/fonts/roboto-mono-v22-latin-600.ttf') format("truetype"), url('/assets/fonts/roboto-mono-v22-latin-600.svg#RobotoMono') format("svg")

#container
    text-align: center
    font-family: 'Roboto Mono', monospace
    color: white
    width: 100vw
    min-height: 100vh
    margin: 0 auto
    background-color: black


// ============================================ 
// BUTTON GENERAL
// ============================================ 
.button 
    display: block
    line-height: 1
    padding: 0 5px //m
    background-color: #737175

    border-style: solid
    border-width: 2px //m
    border-top-color: #a19ea5
    border-left-color: #a19ea5
    border-right-color: #464548
    border-bottom-color: #464548
    
    display: flex
    flex-direction: column
    justify-content: center

    &.active 
        background-color: #3e6b2b // green 
        border-top-color: #2c2c2c
        border-left-color: #2c2c2c
        border-right-color: #a1a1a1
        border-bottom-color: #a1a1a1

.button-wrap 
    padding: 1.5px //m
    background-color: black
    border-radius: 2px //m

    &:hover
        background-color: #ff00ca

        .button
            border: 2px solid #ff00ca

.button:focus 
    border: 2px solid #ff00ca



.button:active 
    background-color: #3e6b2b

.alert
    background-color: #f9da57
    color: #212121
    font-size: 12px


// ============================================ 
// HEADER
// ============================================ 
.navigation-menu 
    background-color: black
    display: flex
    position: fixed
    width: 100%
    top: 0px
    padding: 2px 2px 0
    font-size: 11px //m
    min-height: 37px
    z-index: 100

.navigation-menu-item 
    width: 33.33%

    .button
        height: 100%
        padding: 0 5px

    &.button-wrap
        
// ============================================ 
// CHECKLIST CONTENT
// ============================================ 

.content-header 
    position: fixed
    width: 100%
    top: 37px
    background-color: black
    padding: 0 2px
    z-index: 100

    h1, h2, h3
        font-size: 15px //m
        font-weight: 600
        height: 37px
        display: flex
        flex-direction: column
        justify-content: center

    .button 
        height: 100%


.content-level-1 
    padding-top: 74px
    height: 590px

.content-level-2 
    padding-top: 111px
    height: 565px

.content-level-3 
    padding-top: 148px
    height: 570px

.content-menu 
    display: flex
    flex-direction: column
    flex-wrap: wrap
    height: 100%
    background-color: black
    font-size: 11px //m
    padding: 0 2px

    &.unannunciated .content-menu-item:nth-child(12), &.fire .content-menu-item:nth-child(12)
        visibility: hidden


.content-menu-item 
    .button 
        height: 100%
        text-align: left

    &.button-wrap 
        height: 37px
        width: 50%


.checklist-content 
    padding-top: 74px
    min-height: 80vh
    max-width: 400px
    margin: 0 auto

    overflow: hidden;
    position: relative;

    img 
        width: 100%
        //opacity: 0.5

    .checklist-end-symbol 
        padding-top: 10px
        padding-bottom: 100px


    .overlay
        height: 100%
        position: absolute
        top: 74px
        width: 100%
        background-image: url("/assets/images/content/not-for-official-use-small-4-darker.png")
        opacity: 0.2
        //background-repeat: repeat-y
        background-size: 50%

        

// ============================================ 
// INFO
// ============================================ 
.info 
    h3 
        text-align: left
        padding-left: 16px

    p 
        padding: 16px
        text-align: left
        max-width: 500px


#iban-qr-code 
    float: left
    padding: 0 2px
    width: 50%

// ============================================ 
// FOOTER
// ============================================ 
.footer 
    clear: both

.footer-item 
    float: right
    
    .button 
        width: 80px
        height: 49px
        padding: 0 9px
        text-align: center

// ============================================ 
// Media Queries
// ============================================ 
@media only screen and (min-height: 607px) and (min-width: 370px)
         
    .navigation-menu
        

    .content-header

        h1, h2, h3
            height: 6.1vh
            font-size: 18px

    .content-level-1 
        padding-top: calc(6.1vh + 37px)
        height: 96vh //m

    .content-level-2 
        padding-top: calc(12.2vh + 37px)
        height: 96vh //m

    .content-level-3 
        padding-top: calc(18.3vh + 37px)
        height: 96vh //m

    .content-menu-item.button-wrap
        height: 6.1vh

    .navigation-menu, .content-menu
        font-size: 13px
        font-weight: 600

    .checklist-content 
        padding-top: calc(6.1vh + 37px)
        padding-left: 5px
        padding-right: 5px
        max-width: 550px


@media only screen and (min-height: 740px) and (min-width: 500px)
    .navigation-menu
        height: 5vh
    .navigation-menu, .content-menu, .alert
        font-size: 16px

    .content-header
        top: 5vh
        h1, h2, h3
            font-size: 20px

    .content-level-1 
        padding-top: 11.1vh
        height: 96vh //m

    .content-level-2 
        padding-top: 17.2vh
        height: 96vh //m

    .content-level-3 
        padding-top: 23.3vh
        height: 96vh //m

    .checklist-content 
        padding-top: 11.1vh


@media only screen and (min-height: 950px) and (min-width: 570px)
    .navigation-menu, .content-menu, .alert
        font-size: 20px
        font-weight: 600

    .content-header
        h1, h2, h3
            font-size: 24px

    .button
        border-width: 2.5px

    .button-wrap
        padding: 2px

    .content-menu .button
        //padding-right: 95px
        padding-left: 10px

@media only screen and (min-height: 1300px) and (min-width: 670px)
    .navigation-menu, .content-menu
        font-size: 24px

    .content-header
        h1, h2, h3
            font-size: 28px

    .button
        border-width: 4px

    .button-wrap
        padding: 3px

    .checklist-content 
        max-width: 650px
    

@media only screen and (orientation: landscape)
    #container
        max-width: 768px

    .navigation-menu, .content-header
        max-width: 768px

// ============================================ 
// Testing Fixed Nav
// ============================================ 



