<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{site.description}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1, user-scalable=no">

    <!-- Android  -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name= "theme-color" content="#212121" />

    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="{{site.title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" type="image/png" href="/assets/images/icons/icon-180.png">
    <link rel="manifest" type="text/application/manifest+json" href="/app.webmanifest">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <!-- <meta name="screen-orientation" content="portrait"> -->

    <link href="/assets/images/icons/favicon-16.png" rel="icon" type="image/png" sizes="16x16">
    <link href="/assets/images/icons/favicon-32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="/assets/images/icons/favicon-48.png" rel="icon" type="image/png" sizes="48x48">

    <!-- Android  -->
    <!--<link href="/assets/images/icons/icon-192.png" rel="icon" sizes="192x192">-->
    <!--<link href="/assets/images/icons/icon-128.png" rel="icon" sizes="128x128">-->

    {% if page.url == "/" %}
    {% include apple-splash-meta-tags.html %}
    {% endif %}

    {% if page.url == "/nc/" %}
    {% include apple-splash-meta-tags.html %}
    {% endif %}

    {% if page.url == "/nnc/" %}
    {% include apple-splash-meta-tags.html %}
    {% endif %}

    {% if page.url contains "info" %}
    {% include apple-splash-meta-tags.html %}
    {% endif %}

    <title>
      {% if page.title-level-3 %}
        {{ page.title-level-3 | upcase }}
      {% elsif page.title-level-2 %}
        {{ page.title-level-2 | upcase }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </title> 
  
    <script type="text/javascript">
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', async function() {
          const registration = await navigator.serviceWorker.register('/sw.js');
          if (registration.waiting && registration.active) {
            // The page has been loaded when there's already a waiting and active SW.
            // This would happen if skipWaiting() isn't being called, and there are
            // still old tabs open.
            console.log('Please close all tabs to get updates.');
          } else {
            // updatefound is also fired for the very first install. ¯\_(ツ)_/¯
            registration.addEventListener('updatefound', () => {
              registration.installing.addEventListener('statechange', () => {
                if (event.target.state === 'installed') {
                  if (registration.active) {
                    // If there's already an active SW, and skipWaiting() is not
                    // called in the SW, then the user needs to close all their
                    // tabs before they'll get updates.
                    console.log('Please close all tabs to get updates.');
                  } else {
                    // Otherwise, this newly installed SW will soon become the
                    // active SW. Rather than explicitly wait for that to happen,
                    // just show the initial "content is cached" message.
                    console.log('Content is cached for the first time!');
                  }
                }
              });
            });
          }
        });
      }
    </script>
    
  </head>
  <body>
    <div id="container">
      {% include navigation-menu.html %}
      {{ content }}
      <!--
      {% include footer-menu.html %}
      -->

        </div>

    {% if page.url == "/" %}
    <script>
      if (navigator.serviceWorker.controller===null){
        let content = document.getElementsByClassName('content')[0]
        content.classList.add("content-level-3")

        let h2 = document.createElement("h2");
        h2.className = "button-wrap"
        document.getElementById('alert').prepend(h2);
        h2.innerHTML = "<div class='button alert'>App may be slow on initial visit as checklists are being downloaded</div>"
      }
    </script>
    {% endif %}

    {% if page.url == "/info/support-fawri.html" %}
    <script type="text/javascript" src="/assets/js/clipboard.min.js"></script>
    <script>
      var clipboard = new ClipboardJS('.copyText');
      clipboard.on('success', function(e) {
          alert("Copied " + e.text)
          e.clearSelection();
      });
    </script>
    {% endif %}
    <script type="text/javascript" src="/assets/js/script.js"></script>
  </body>
</html>

